*{
     margin: 0;
     padding: 0;
     text-align: center;
}
body{
    background: unset !important;
    color: unset !important;
}
#about-us{
    
    background:linear-gradient(rgba(144, 228, 236, 0.185),#eb3c6291), url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.text-banner{
    text-align: center;
    color: #fff;
    padding-top: 280px;
    font-family: 'Merienda', cursive;
}
.text-banner h1{
    font-size: 130px;
}
#feature {
    width: 100%;
    padding: 70px 0;
}

.title-text h1 {
    font-size: 50px;
    padding: 3%;
    text-align: center;
    font-family: 'Expletus Sans', cursive;
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.featuers {
    flex-basis: 50%;
}

.featuers h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #0096;
    font-family: 'Satisfy', cursive;
}

.features-img {
    flex-basis: 50%;
    margin: auto;
}

.features-img img {
    width: 70%;
    border-radius: 10px;
}

.feature-text{
    padding: 0 20px;
    text-align: initial;
    font-family: 'Lobster Two', cursive;
}
/*what we do css*/
 .what-we-do{
     gap: 10px 20px;
     background-image: linear-gradient(to right,#6f085a,#c51c53);
     padding: 20px;
     font-family: 'Expletus Sans', cursive;
     color: #F9F6EE;
 }
 .car{
    width:150px;
    height: 200px;
    background-color: #333;
    border-radius: 10px;
    outline: 1px solid rgba(255,255,255,0.5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
 }
 .carBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    padding-bottom: 15px;
 }
 .car-image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
    transition: transform .75s;
 }
 .car:hover .car-image{
    transform: scale(1.15);
 }
 .car-title{
    position: absolute;
    left: 15px;
    bottom: 10px;
    font-family: 'Macondo', cursive;
    font-size: 30px;
    text-shadow: 0 0 1px rgba(0,0,0, .5);
}
 .contact-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    text-align: center;
    padding: 2% 10%;
    margin: 0;
    font-family: 'Lobster Two', cursive;
}

.box{
    color: gray;
    transition: ease-in-out;

}

.box:hover {
    top: -5%;
    cursor: pointer;
    color: black;
    background-color: #FAF9F6;
}
/*social icon effect*/
.social{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
}
.SocialIcon{
    padding: 2.6%;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #F9F6EE;
}
.SocialIcon:hover{
    background-color: var(--color);
    border-radius: 100%;
    text-align: center;
    padding: 5%;
    transition: ease-in-out 0.9s;
    height: 68px;
    width: 70px;
    cursor: pointer;
}
@media screen and (max-width:770px){
    .title-text h1{
        font-size: 35px;
    }
    .featuers{
        flex-basis: 100%;
    }
    .features-img{
        flex-basis: 100%;
    }
    .featuers h1{
        text-align: center;
    }
    .featuers p{
        text-align: center;
    }
}
