*{
     margin: 0%;
     padding: 0%;
}
.heading p{
     text-align: center;
     padding: 3%;
     font-size: 100px;
     font-family: 'Merienda', cursive;
    /* background-color: #4158D0;*/
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

     color: rgb(241, 238, 244);
}
.card-body p{
     font-family: 'Satisfy', cursive;
}
.row h4{
     font-family: 'Great Vibes', cursive;
     font-size: 40px;
}
.SocialEvent{
     padding: 3%;
     margin: 2%;
     background-color:  #96f6b971;
}
.PersonalEvent{
     padding: 3%;
     margin: 2%;
     background-image: linear-gradient( 109.6deg,  rgba(128, 240, 193, 0.545) 11.2%, rgba(113, 166, 228, 0.545) 91.1% );
}
.ProfessionalEvent{
     padding: 3%;
     margin: 2%;
     background-image: linear-gradient( 135deg, #88f3f593 10%, #625ee48f 100%);
}
