*{
     margin: 0;
     padding: 0;
     text-align: center;
}
#about-us{
    background:linear-gradient(rgba(144, 228, 236, 0.185),#eb3c6291), url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.text-banner{
    text-align: center;
    color: #fff;
    padding-top: 280px;
    font-family: 'Merienda', cursive;
}
.text-banner h1{
    font-size: 130px;
}
#feature {
    width: 100%;
    padding: 70px 0;
}

.title-text h1 {
    font-size: 50px;
    padding: 3%;
    text-align: center;
    font-family: 'Expletus Sans', cursive;
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.featuers {
    flex-basis: 50%;
}

.featuers h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #0096;
    font-family: 'Satisfy', cursive;
}

.features-img {
    flex-basis: 50%;
    margin: auto;
}

.features-img img {
    width: 70%;
    border-radius: 10px;
}

.feature-text{
    padding: 0 20px;
    text-align: initial;
    font-family: 'Lobster Two', cursive;
}
 .what-we-do{
     gap: 10px 20px;
     background-color: burlywood;
     padding: 20px;
     font-family: 'Expletus Sans', cursive;
 }
 .contact-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    text-align: center;
    padding: 2% 10%;
    margin: 0;
    font-family: 'Lobster Two', cursive;
}

.box{
    color: gray;
    transition: ease-in-out;

}

.box:hover{
    transform: scale(1.3);
    z-index: 2;
    cursor: pointer;
    color: black;
    max-width: 70%;
}
@media screen and (max-width:770px){
    .title-text h1{
        font-size: 35px;
    }
    .featuers{
        flex-basis: 100%;
    }
    .features-img{
        flex-basis: 100%;
    }
    .featuers h1{
        text-align: center;
    }
    .featuers p{
        text-align: center;
    }
}
