@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Patrick+Hand&display=swap');
body{
    padding: 0%;
    margin: 0;
    background-attachment: fixed;
    background: url("https://images.pexels.com/photos/5453824/pexels-photo-5453824.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    
}
.heading{
    background:/* url("images/contactBackground.png"),*/ linear-gradient(to right top,#fea735,#fe7235); 
    padding-right: 10%;
    position: relative;
    font-family: 'Patrick Hand', cursive;
    font-size: 100px;
    margin: 0;
    background-repeat: no-repeat;
    text-align: right;
    color: #fff;
}
.row{
    padding: 5%;
    background-color: #210440a9;
}
.col-img{
    background-color: rgba(242, 243, 248, 0.584);
    padding: 10%;
    text-align: center;
    border-radius: 25px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #e76f51;
    border-radius: 17px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #264653;
    color: #d9d9d9;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #2a9d8f;
  }
  
  .container-fluid {
    border-radius: 25px;
    padding: 10%;
    background-color: #ffba00;
    font-weight: 700;
    font-size: larger;
    font-family:  'Neucha', cursive;
  }
