body{
    padding: 0%;
    margin: 0;
}
.heading{
    background: url("images/contactBackground.png");
    background-color: whitesmoke;
    position: relative;
    top: 45%;
    text-align: center;
    width: 1250px;
    height: 201px;
    background-repeat: no-repeat;
    background-size: contain;
    color: blueviolet;
}