body{
     padding: 0%;
     margin: 0%;
 }
 .icon{
     padding-right: 5px;
 }
 .head{
     z-index: 2;
     display: flex;    
     justify-content: space-between;
     align-items: center;
     position: absolute;
     margin: 10px 20px;
     width: 97.7%;
     background-color:  #1a2456;
     color: #f0efed;
     border-radius: 16px;
 }
 .company-name{
  display: flex;
  padding-left: 20px;
 }
 .menu{
     display: flex;
     padding: 5px 20px;
    
 }
 .menu li{
     margin: 0 15px;
     list-style: none;
 }
 .header-image{
     background-color: #FFDB58;
     display: flex;
     justify-content: space-around;
 }
