
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000070;
}
form{
  /* margin-top: 2em !important; */
}
form{
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  background: rgba(0,0,0,.1);
  padding: 100px;
}

label,#type, select option{
 font-family: sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: .8em;
  color: #FFF;
}

form input,#type,select option{
  display: inline-block;
  border: none;
  text-align: left;
  box-shadow: 3px 2px rgba(121, 83, 210,.3 );
  padding: 10px;
  width: 350px;
  margin: 10px 0;
  /* background: transparent; */
  background: #000070 !important;
  color: #FFF;
}
select{
  box-shadow: none !important;
}
form input:focus,#type:focus,select option:focus{
  background: none;
  border: none;
  color: #FFF;
}

button{
  background: transparent;
  color: #FFF;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
  padding: 10px 30px;
  border: 2px solid #FFF;
}

button:hover{
  background: transparent;
  border: 2px solid rgba(69, 39, 160, .4);
}